<div class="container">
  <div class="jumbotron shadow p-3 mb-5 mt-5 bg-white rounded">
    <h1 class="display-4">Qualcosa di assolutamente scontato su di noi!</h1>
    <p class="lead">
      Stiamo cercando di creare una app (che poi è un sito, ma vabbè) che faccia
      qualcosa di assolutamente straordinario: <br />
      FUNZIONARE!
    </p>
    <hr class="my-4" />
    <p>
      Ecco adesso arriva la parte in cui ti invito a non cliccare il tasto, ma
      tanto già sappiamo entrambi che lo farai.
    </p>
    <a class="btn btn-primary btn-lg" role="button" (click)="premimi($event)"
      >PREMIMI!</a
    >
  </div>
</div>
