/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    padding: 0%;
}
html, body { height: 100%; }
body { margin: 5px; padding: 10px; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100vh;}
/* div {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;} */
/* @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  } */