<div class="container">
  <div class="jumbotron shadow p-3 mb-5 mt-5 bg-white rounded">
    <h1 class="display-4">Ciao Mondo!</h1>
    <p class="lead">
      Io sarei qualcosa che sicuramente avrebbe molto più senso qualora avessi
      informazioni utili da mostrare, ma in mancanza di ciò continuerò a
      scrivere a ruota per riempire questo vuoto di pagina!
    </p>
    <hr class="my-4" />
    <p>
      Sono certa di aver attirato la tua attenzione quindi ti prego di non
      premere questo bottone in basso.
      <br />
      Non funziona, non fa assolutamente nulla, è solo lì fermo senza alcuna
      logica.
      <br />
      Ripeto.
      <br />
      Non. Premere. Quel. Tasto.
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button" (click)="premimi()"
      >PREMIMI!</a
    >
  </div>
</div>
